*{
	box-sizing: border-box;
}
body{
	margin:0;
	padding:0;
	font-family: sans-serif;
}
/* header */
header{
	height: 80px;
	width: 100%;
	background: #4c4c4c;
	margin-bottom: 15px;
}
.top{
	margin: auto;
	max-width: 1000px;
}
.logo{
	width: 10%;
	float: left;
}
.logo img{
	width: 100%;
}
nav{
	width: 60%;
	height: 80px;
	float: left;	
}
.cow{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 50px;
	list-style-type: none;
}

.list{
	float: left;
	width: 14.28514%;
	height: 80px;
	line-height: 80px;
	white-space: nowrap;
	position: relative;
}
.list a{
	text-decoration: none;
	color: white;
	display: block;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
}
.list a:hover{
	color: #67c4da;
}
.list:hover .sub{
	display: block;
}

.sub{
	display: none;
	list-style-type: none;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	width: 120%;
}
.liste{
	text-align: center;
	background: white;
	height: 40px;
	line-height: 40px;
}
.liste a{
	color: #4c4c4c;
	text-align: left;
	font-size: 1em;
	text-indent: 0.8em;
	letter-spacing: 0;
}
.liste a:hover{
	color: #67c4da;
}

.seach{
	float: right;
	display: inline-flex;
	padding: 22.5px;
	width: 30%;
}
.search{
	font-size: inherit;
	font-weight: bold;
	border: 2px solid #67c4da;
	border-radius: 0 7px 7px 0;
	background-color: #67c4da;
	border-left: 0;
	outline: 0;
	cursor: pointer;
}
.search:hover, .search:focus{
	border-color: #67c4da;
	opacity: 0.5;
}
.icon-s{
	font-size: inherit;
	width: 100%;
	height: 35px;
	border: 2px solid #67c4da;
	border-radius: 7px 0 0 7px;
	outline: 0;
	color: #4c4c4c;
}
.icon-s:hover, .icon-s:focus{
	border-color: #67c4da;
}

/* main */
main{
	max-width: 1000px;
	margin:auto;
}
.main{
	width: 100%;
}
.main-left{
	width: 70%;
	height: 350px;
	float: left;
}

.main-l{
	width: 100%;
	padding: 0 10px 10px 0;
}
.baner{
	width: 100%;
	height: 280px;
}
.baner img{
	width: 100%;

}
.list-baner{
	width: 100%;
	height: 70px;
}
.list-bane{
	width: 20%;
	float: left;
}
.list-bane1 img{
	padding: 5px 5px 0 0;
}
.list-bane2 img, .list-bane3 img, .list-bane4 img{
	padding: 5px 5px 0 5px;
}
.list-bane5 img{
	padding: 5px 0 0 5px;
}
.list-bane img{
	width: 100%;
	height: 70px;
}
.main-right{
	width: 30%;
	height: 200px;
	float: right;
}
.main-r{
	width: 100%;
	padding-bottom:10px;
	padding-left: 10px;
}
.theme-content{
	width: 100%;
	padding: 0 0 5px 0;
}
.theme-content a{
	text-decoration: none;
	color: #67c4da;
	font-size: 1.3em;
}
.theme-content a:hover{
	color: #D0B5BA;
	padding-left: 0.5em;
}
.theme{
	width: 100%;

}
.theme-detail{
	width: 100%;
	padding-top: 5px;

}
.theme-detail img{
	width: 100%;
	height: 80px;
}
/* song hot */
.song-hot{
	width: 70%;
	float: left;
	padding-top: 1em;
	padding-right: 10px;
}
.song-content{
	width: 100%;
	padding: 0 0 10px 0;
}
.song-content a{
	text-decoration: none;
	font-size: 1.3em;
	color: #67c4da;
}
.song-content a:hover{
	color: #D0B5BA;
	padding-left: 0.5em;
}
.song{
	width: 100%;
}
.song-col1{
	width: 50%;
	float: left;
}
.song-col2{
	width: 50%;
	float: left;
}
.song-detail{
	width: 100%;
	padding: 5px 0 5px 0;
}
.song-detai{
	width: 20%;
	float: left;

}
.song-detail img{
	width: 100%;
}
.song-conten a{
	float: left;
	text-decoration: none;
	color: #4c4c4c;
	text-indent: 0.8em;
	padding-top: 0.8em;
}
.song-conten a:hover{
	color: #67c4da;
}


/* footer */
footer{
	height: 100px;
	background: #666666;
}
.contact{
	max-width: 1000px;
	height: 100px;
	background: #000000;
	margin: auto;
}
.clear{
	clear: both;
}