*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif, arial;
	background-image: url('../image/background.jpg');
	background-image:  center center;
	background-size: cover;
}
main{
	max-width: 1000px;
	margin: auto;
}
table{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-collapse: collapse;
}
caption{
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
	color: #2c3e50;
}
td, th{
	border: 1px solid #7f7f7f;
    text-align: left;
}
th{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-indent: 10px;
	color: white;
	background: #1e272e;
}
.one{
	background: #e74c3c;
}
.two{
	background: #f39c12;
}
.three{
	background: #FDA7DF;
}
.four{
	background: #485460;
}
.five{
	background: #cd6133;
}
.six{
	background: #7d5fff;
}
.seven{
	background: #20bf6b;
}
.eight{
	background: #45aaf2;
}

img{
	width: 100%;
	height: 80px;
	padding: 10px 25px 10px 25px;
}
.avatar{
	width: 15%;
}
.phone{
	width: 25%;
	padding-left: 8px;
}
.email, .name, .skill{
	width: 20%;
	padding-left: 8px;
}
a{
	text-decoration: none;
	color: black;
}
tr:hover{
	background: #ecf0f1;
}