*{
	box-sizing: border-box;
}
body{
	margin:0;
	padding:0;
	font-family: sans-serif;
    background-image: url('../image/brady.jpg');
    background-size: cover;
    
}
.wrap{
	max-width: 1000px;
	margin:auto;
}
.container{
	width: 40%;
	margin: auto;
	margin-top: 20px;
}
.title{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #6e4a71;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	text-indent: 1.3em;
	white-space: nowrap;
	border-radius: 5px 5px 0 0;
	outline: 0;
}
form{
	background: white;
	border-radius: 0 0 5px 5px;
}

.user, .pass, .passw, .address, .number-phone, .name{
	width: 86%;
	margin: auto;
	padding-top: 15px;
	
}
#lastname, #username, #passwor, #passwords, #adre, #phone{
	width: 100%;
	height: 35px;
	outline: 0;
	font-size: 16px;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #b2b2b2;
}
.se{
	width: 100%;
	padding-left: 28px;
}
.birthday{
	width: 100%;
	padding: 20px 0 10px 28px;
}

.form-control{
	width: 35%;
}

.sbmi{
	width: 100%;
	height: 70px;
	padding: 20px 0 20px 28px;
}
#consb{
	width: 30%;
	height: 35px;
	float: left;
	background: #6e4a71;
	border: 1px solid #b2b2b2;
	border-radius: 5px 5px 5px 5px;
	font-weight: bold;
	outline: 0;
}


.error{
	color: red;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-style: italic;
}
